name: CI/CD Deploy

on:
  push:
    branches:
      - "main"

jobs:
  setup-enviroment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup enviroment
        run: |
          sed 's/example-db-user/${{ secrets.DB_USER }}/g' ../env.example.yaml \
            | sed 's/example-db-pass/${{ secrets.DB_PASS }}/g' \
            | sed 's/example-db-port/${{ secrets.DB_PORT }}/g' \
            | sed 's/example-db-host/${{ secrets.DB_HOST }}/g' \
            | sed 's/example-db-name/${{ secrets.DB_NAME }}/g' \
            | sed 's/example-google-client-id/${{ secrets.GOOGLE_CLIENT_ID }}/g' \
            | sed 's/example-google-client-secret/${{ secrets.GOOGLE_CLIENT_SECRET }}/g' \
            | sed 's/example-google-redirect-url/${{ secrets.GOOGLE_REDIRECT_URL }}/g' \
            | sed 's/example-google-state-string/${{ secrets.GOOGLE_STATE_STRING }}/g' \
            | sed 's/example-secret-key/${{ secrets.AUTH_SECRET_KEY }}/g' \
            | sed 's/example-secret-key-admin/${{ secrets.AUTH_ADMIN_SECRET_KEY }}/' \
            > env.yaml
          echo "success create enviroment"

      - uses: actions/checkout@v3
      - name: install depedencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make
  build-app:
    needs: setup-enviroment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build
        run: |
          make d_build
      - name: docker authentication
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: docker push
        run: make d_push
  deploy:
    name: deploy to server
    runs-on: ubuntu-latest
    needs: build-app
    steps:
      - name: SHH and run container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_SERVER_HOST }}
          key: ${{ secrets.SSH_SERVER_KEY }}
          username: ${{ secrets.SSH_SERVER_USERNAME }}
          script: |
            whoami
            make d_stop
            make d_rename
            make d_pull
            make d_run_container
